.root
  padding: 33px;
  justify-content: space-between
  align-items: center
  flex-direction: column
  display: flex
  font-size: 16px;
  height: 100%;
  width: 100%;
  


.logo
  width: 100%
  padding-bottom: 15px

.content
  flex-direction: column
  align-items: center
  justify-content: center
  display: flex
  flex: 1 0

.wrapper
  flex-direction: column
  flex: 1 0
  align-items: center
  justify-content: center
  display: flex

.title
  text-align: center
  font-weight: 300
  color: #417c9a


  &_top
    width: 100%
    font-size: 60px


  &_bottom
    width: 100%
    font-size: 42px

.banner
  position: relative
  flex: 1 0
  padding-top: 45px
  justify-content: center
  align-items: center
  display: flex
  // padding-bottom: 100px

.globe
  position: relative
  img
    // max-height: 100%
    // max-width: 100%
    // height: 100%
    // max-height: 
    max-height: 60vmin
  
.text
  left: 0
  top: 0
  position: absolute
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  text-align: center
  font-size: 30px
  display: flex
  color: #417c9a

  &_wrapper
    padding: 22px 30px
    background: rgba(white, 0.9)
    border-radius: 10px
    box-shadow: -7px 8px 74.26px 4.74px rgba(0, 0, 0, 0.5);

  &_top
    font-weight: bold

  &_bottom
    font-weight: 300

@media (max-width: 1100px) 
  .root
    padding: 10px
    font-size: 16px;

  .logo
    img
      max-width: 40vmin

  .banner
    padding-top: 25px
  
  .title

    &_top
      font-size: 11vmin

    &_bottom
      font-size: 8vmin

  .text
    font-size: 6vmin
    &_wrapper
      padding: 10px

@media (max-width: 800px) and (orientation: landscape) 
  .root
    padding: 10px
    font-size: 16px;

  .logo
    img
      max-width: 40vmin

  .banner
    padding-top: 15px
  
  .title

    &_top
      font-size: 6vmin

    &_bottom
      font-size: 5vmin

  .text
    font-size: 3vmin
    &_wrapper
      padding: 10px