body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(to bottom, #feffb7 0%, #b8eff8 100%);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing:  border-box;
}

#root {
  height: 100%;
  width: 100%;
}